extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/formsearch.pug
include ../../mixins/pagination.pug
include ../../mixins/data.pug

block main
  h1 trang sản phẩm Admin
  
  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body

     .row
      
      .col-6
        +Filter-Status(but)

      .col-6
        +formSearch(keyword) 


  table.table.table-hover.table-sm
    thead 
      tr
        th STT
        th Hình ảnh
        th Tiêu đề th Giá
        th Trạng thái
        th Hành động

    tbody 
      +Data(DataOfPro)
      
  +pagination(pagination) 

